@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #4fd1c5; /* Thumb color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #27cec5; /* Thumb color on hover */
}
/* Add custom scrollbar styles to elements with the class .custom-scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4fd1c5;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #38b2ac;
}
/* Firefox scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* or auto */
  scrollbar-color: #4fd1c5 #2d2d2d;
}
.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #efff64a9);
}

.shopOpen {
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 1em #06f345);
}
.shopClosed {
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 1em #06f345);
}
.home {
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 1em #efff64a9);
}
